[submodule "third_party/mujoco_viewer"]
	path = third_party/mujoco_viewer
	url = https://github.com/rohanpsingh/mujoco-python-viewer
	ignore = dirty
[submodule "third_party/phc"]
	path = third_party/phc
	url = https://github.com/ZhengyiLuo/PHC
	ignore = dirty
[submodule "packages/zed_proxy"]
	path = packages/zed_proxy
	url = https://github.com/HansZ8/ZED-Proxy
	ignore = dirty
[submodule "packages/unitree_cpp"]
	path = packages/unitree_cpp
	url = https://github.com/chifongip/unitree_cpp.git
	ignore = dirty
[submodule "third_party/aimdk"]
	path = third_party/aimdk
	url = https://github.com/chifongip/aimdk.git
[submodule "third_party/dex_teleop"]
	path = third_party/dex_teleop
	url = https://github.com/wrfbreeze/dex_teleop.git
[submodule "packages/aimdk_cpp"]
	path = packages/aimdk_cpp
	url = https://github.com/chifongip/aimdk_cpp.git
	branch = main
	ignore = dirty
[submodule "packages/ros2_joy_cpp"]
	path = packages/ros2_joy_cpp
	url = https://github.com/chifongip/ros2_joy_cpp.git
	branch = main
[submodule "third_party/omnihand_sdk"]
	path = third_party/omnihand_sdk
	url = https://github.com/AgibotTech/agillink_omnihand_sdk.git
[submodule "third_party/casiahand_sdk"]
	path = third_party/casiahand_sdk
	url = https://github.com/Breezewrf/casiahand_sdk.git
